@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0E0D06;
  --primary: #DCA54A;
  --secondary: #FFDD00;
  --accent: #FBB034;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}